html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;

}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
  font-family: 'Courier New', Courier, monospace;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
.home a,u{

  text-decoration: none;
  color: white;
}
.home .mainlinks a:hover{
  color: rgb(214, 174, 74);
}
.wrapper{
  max-width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 10px;
  padding-left: 10px
}

.container{
  padding: 5px;
  margin-bottom: 70px;
  margin-top: 60px;
  text-align: center;
}
.home{
  size: 100%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-size: cover;
    background-position: center 0;
    background-image: url(HemsidaBakgrund.png);
    color: white;

}

.home h2{
  font-size: 16px;
}

.human{
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  width: 120px;
  height: auto;
}
/* .banner{
  margin-top: 20px;
  
  
} */
 
#brandIcon{
  padding: 4px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  width: 250px;
  height: auto;
  padding: 8px;
}

.brand a:focus{
  color: rgb(214, 174, 74);
}

.mainlinks li{
  margin-bottom: 20px;
}

.mainlinks{
  text-align: left;
 margin-left:50%;
 margin-right: 0;
 height: auto;
}

.social a{

  display: inline-block;
  vertical-align: top;
  margin: 0 auto;
  width: 15px;
  height: 15px;
  margin-right: 4px;
  margin-left: 4px;
  opacity: 0.25;
  background: url(social-sprites-b66a79734825139db2f265f11219d206.png);
  background-size: 15px 55px;
  padding: 0;
}

.social a:hover{
  opacity: .75;
}
.social #instagram{
  background-position: 0px -20px;
}

.social #apple{
  background-position: 0px -40px;
}

#time{
  font-size: 10px;
}


.collection header{
  background-position: center center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(Timgad_de_Triomphe_De_Trajan_3_low_res.jpg);
  padding-top: 3px;
  height: 90vh;
  margin-bottom: 4vh;
  text-align: center;
}
.collection li{
  display: inline-block;
}
.collection a,u{
 
  color: white;
}

.collection .mainlinks{
  margin-left: 20%;
  margin-right: 20%;
  text-align: center;
}
.collection nav a:hover{
  color:  rgb(214, 174, 74);
}

.product-list{
  
  /* margin-right: 200px;
  margin-left:auto; */
}

.product-list ul li{
  display: inline-block;
  margin-right: 10px;
  width: 25%;
}


.product img{
  width: 100%;
  height: auto;
}


.product-list-container{ 
 margin: 0 auto;
 text-align: center;
}

.product-list-container h2{
  font-size: 4em;
  margin-bottom:5%;
}

.product{

  display: block;
  padding: 5px;
  position: relative;
}
 
